<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="/fragments/head :: head"></head>

<body>

<div class="page-container" >
    <form action="" method="post" class="form form-horizontal" id="form-panelContent-add" enctype="multipart/form-data" >
        <input name="id" id="id" type="hidden" th:if="${#httpServletRequest.getParameter('id') != null}" th:value="${#httpServletRequest.getParameter('id')}" />
        <input name="image" type="hidden" />
        <input type="text" hidden="hidden" class="input-text" value="0" id="status" name="status" />

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>所属板块：</label>
            <div class="formControls col-xs-8 col-sm-2">
                <span>轮播图</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>类型：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="" class="select">
					<option value="0">关联活动</option>
					<option value="1">其他模块</option>
				</select>
				</span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">其他链接：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" name="barcode" id="barcode"  placeholder="http://" value="" class="input-text" />
            </div>
        </div>

        <div class="row cl" id="choose-parent">
            <label class="form-label col-xs-4 col-sm-2">选择关联活动：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onclick="chooseParent('选择关联活动','/manager/index/page/rotation-item.html','400','450')" readonly="" class="input-text" value="" placeholder="请点击选择关联活动" id="activeName" name="activeName" style="width:48%" />
                <input type="button" onclick="chooseParent('选择关联活动','/manager/index/page/rotation-item.html','400','450')" class="btn btn-secondary radius"  value="选择关联活动" />
            </div>
        </div>



        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">所选商品ID：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" onclick="chooseParent('选择关联活动','/manager/index/page/rotation-item.html','','')" readonly="" class="input-text" value="" placeholder="请点击选择关联活动" id="activeId" name="activeId" style="width:48%" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否启用：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <div id="mySwitch" class="switch has-switch" data-on-label="启用" data-on="info" data-off-label="禁用">
                    <input type="checkbox" checked="checked" />
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">图片上传：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="widget-body" id="target">
                </div>
                <button id="chooseFile" class="btn " type="button" style="height:80px;width:90px;" value="上传图片">
                    <img src="/static/images/add_picture.png" style="height:100%;width:100%;"/>
                </button>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button id="submit" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont"></i> 保存并提交</button>
            </div>
        </div>
        <input type="reset" id="ResetButton" name="ResetButton" value="Reset" style="display: none"/>
    </form>
</div>

<basescript th:replace="/fragments/basescript :: basescript"></basescript>
<script type="text/javascript" th:src="@{/static/js/page/homepage/page-roration-add.js}"></script>
<script type="text/javascript">
    function chooseParent(title,url,w,h) {
        layer_show(title,url,'','');
    }
</script>

</body>
</html>
