<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="/fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<style type="text/css">

    .box-container{
        display: flex;
        flex-direction: column;
    }


    .box {
        float: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 10px 10px 5px #888888;
    }

    .box img {
        width: 150px;
        height: 200px;
    }

    .box span {
        padding-top: 10px;
    }


</style>


<div class="page-container" style="padding-top: 0px;">


    <div class="mt-20">

        <div class="box-container">
            <div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />

                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>
                <div class="box">
                    <img src="http://pcvfcha51.bkt.clouddn.com/1539673073265685.jpg" />
                    <span>苹果班</span>
                </div>

            </div>
        </div>

    </div>




</div>

<basescript th:replace="/fragments/basescript :: basescript"></basescript>

</body>


</html>