<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="/fragments/head :: head">
</head>
<body>
<div class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-recipe-add">
        <input type="text" hidden="hidden" name="id" id="id" th:if="${#httpServletRequest.getParameter('id') != null}" th:value="${#httpServletRequest.getParameter('id')}" />
        <input type="text" hidden="hidden" class="input-text" value="0" id="status" name="status" />


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                所属幼儿园：</label>
            <div class="formControls col-xs-6 col-sm-6">
                 <span class="select-box" >
                    <select  name="gartenId" id="garden-info" class="select">
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                日期：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="recipeDate" name="recipeDate" class="input-text Wdate" style="width:120px;" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                餐饮类型：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="" id="mealName" name="mealName" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">食物种类：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea name="mealDesc" id="mealDesc" cols="" rows="" class="textarea" placeholder="说点什么...最多输入100个字符"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p></div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <button id="submit" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont"></i> 保存提交</button>
            </div>
        </div>

    </form>

</div>


<basescript th:replace="/fragments/basescript :: basescript"></basescript>
<script type="text/javascript" th:src="@{/static/js/page/contentplate/farm-recipes-add.js}"></script>


</body>
</html>
