<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head th:replace="/fragments/head :: head">
</head>
<body>
<div class="page-container">
    <style type="text/css">
        select {
            width: 80px;
            padding: 5px;
        }
    </style>

    <form action="" method="post" class="form form-horizontal" id="form-student-add">
        <input type="text" hidden="hidden" name="id" id="id" th:if="${#httpServletRequest.getParameter('id') != null}" th:value="${#httpServletRequest.getParameter('id')}" />
        <input type="text" hidden="hidden" class="input-text" value="0" id="status" name="status" />

        <div class="row cl">
            <h3 style="padding-left: 220px">学生信息</h3>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                所属幼儿园：</label>
            <div class="formControls col-xs-6 col-sm-6">
                 <span class="select-box" >
                    <select  name="gartenId" id="garden-info" class="select">
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                学生名字：</label>
            <div class="formControls col-xs-6 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="studentName" name="studentName" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                学生年龄：</label>
            <div class="formControls col-xs-6 col-sm-2">
                <input type="text" class="input-text" value="" placeholder="" id="studentAge" name="studentAge" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box" >
                    <input style="vertical-align: middle;margin: 0;" name="studentGender" type="radio" id="sex-1" value="1" />
                    <label  style="vertical-align: middle;margin: 0;padding-left: 10px" for="sex-1">男</label>
                </div>
                <div class="radio-box">
                    <input style="vertical-align: middle;margin: 0;"  type="radio" id="sex-2" name="studentGender" value="0" />
                    <label style="vertical-align: middle;margin: 0;padding-left: 10px" for="sex-2">女</label>
                </div>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-3">
                <span class="c-red">*</span>
                所报课程：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <span class="select-box" >
                    <select  name="courseId" id="course-info" class="select">
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-5 col-sm-3">
                <span class="c-red">*</span>
                分配班级：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <span class="select-box" style="width: 120px">
                    <select  name="classId" id="class-info" class="select">
                    </select>
                </span>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">学生头像：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="widget-body" id="target">
                </div>
                <button id="chooseFile" class="btn " type="button" style="height:80px;width:90px;" value="上传图片">
                    <img src="/static/images/add_picture.png" style="height:100%;width:100%;"/>
                </button>
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">学生兴趣爱好：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <textarea name="studentHobbies" id="studentHobbies" cols="" rows="" class="textarea" placeholder="说点什么...最多输入100个字符"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p></div>
        </div>



        <div class="row cl">
            <h3 style="padding-left: 220px">家长信息</h3>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"></label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                <div class="radio-box" >
                    <input style="vertical-align: middle;margin: 0;" name="isExist" type="radio" id="sex-3" value="1" checked="checked" onclick="showExistInfo(0)"  />
                    <label  style="vertical-align: middle;margin: 0;padding-left: 10px" for="sex-1">未存在信息</label>
                </div>
                <div class="radio-box">
                    <input style="vertical-align: middle;margin: 0;"  type="radio" id="sex-4" name="isExist" value="0" onclick="showExistInfo(1)" />
                    <label style="vertical-align: middle;margin: 0;padding-left: 10px" for="sex-2">已存在信息</label>
                </div>
            </div>
        </div>

        <div class="row cl" style="display: none" id="parents-search">
            <label class="form-label col-xs-4 col-sm-3"></label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" name="searchTitle" id="searchTitle" placeholder=" 家长名称" style="width:250px" class="input-text" />
                <button name="" id="serchInput" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
            </div>
        </div>

        <input type="text" hidden="hidden" class="input-text" value="0" id="parentId" name="status" />

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                家长名字：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="" id="parentName" name="parentName" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                联系地址：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="" id="address" name="address" />
            </div>
        </div>


        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                家长联系方式：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="" id="parentConnect" name="parentConnect" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">
                <span class="c-red">*</span>
                家长微信：</label>
            <div class="formControls col-xs-6 col-sm-6">
                <input type="text" class="input-text" value="" placeholder="" id="parentWechat" name="parentWechat" />
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">家长头像：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="widget-body" id="target1">
                </div>
                <button id="chooseFile1" class="btn " type="button" style="height:80px;width:90px;" value="上传图片">
                    <img src="/static/images/add_picture.png" style="height:100%;width:100%;"/>
                </button>
            </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <button id="submit" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont"></i> 保存提交</button>
            </div>
        </div>

    </form>
</div>


<basescript th:replace="/fragments/basescript :: basescript"></basescript>
<script type="text/javascript" th:src="@{/static/js/page/contentplate/student-add.js}"></script>


</body>
</html>
